{% include "header.html" %}

<div class="container">

    <h2>Анализ и прогноз погодных условий на основе исторических и реальных метеоданных</h2>

    <p style="margin-bottom: 1rem; margin-top: 1rem">Прогнозирование погоды является одной из наиболее сложных, многокомпонентных и одновременно важнейших задач в рамках современной метеорологии. Эта задача требует не только высокой точности расчетов, но и способности обрабатывать огромные объёмы разнородной информации, поступающей из различных источников. В условиях стремительных климатических изменений, учащения экстремальных погодных явлений — таких как ураганы, ливни, засухи и резкие перепады температур — а также возрастающей зависимости различных секторов экономики и социальной сферы от погодных условий, значимость точного и своевременного прогноза возрастает многократно.</p>

    <ul>
        <li>
            <a href="/app"> Приложение прогноза </a>
        </li>
    </ul>

</div>

 
{% include "footer.html" %}